In [153]:
import pandas as pd
import numpy as np

In [154]:
data = pd.read_csv('../data/user_balance_table.csv', parse_dates=['report_date'])

In [173]:
# 按照日期划分统计purchase和redeem
def get_total_balance(data, begin):
    data_temp = data.copy()
    data_temp = data_temp.groupby(['report_date'])[['total_purchase_amt', 'total_redeem_amt']].sum()
    # 还原索引
    data_temp.reset_index(inplace=True)
    data_temp = data_temp[(data_temp['report_date'] >= begin)]
    return data_temp

# 为什么选择3-1,因为从购买与赎回量时间序列图中看出，3-1之后趋向平稳
total_balance = get_total_balance(data, '2014-3-1')

In [156]:
# 对数据集增加时间明细的维度，方便后续对周期因子进行计算
def add_timestamp(data):
    data['report_date']= pd.to_datetime(data['report_date'], format='%Y%m%d')
    
    # 时间维度
    data['day'] = data['report_date'].dt.day
    data['month'] = data['report_date'].dt.month
    data['year'] = data['report_date'].dt.year
    data['week'] = data['report_date'].dt.week
    # weekday数值上从0开始，0代表周一，6代表周日
    data['weekday'] = data['report_date'].dt.weekday
    
    return data

In [157]:
import datetime
# 获取测试数据2014-9-1~2014-9-30
def generate_test_data(data):
    t = data.copy()
    start = datetime.datetime(2014,9,1)
    end = datetime.datetime(2014,10,1)
    testdata = [] 
    # 日期累加判断，直至目前天数
    while start != end:
        temp = [start, np.nan, np.nan]
        testdata.append(temp)
        start = start + datetime.timedelta(days=1)
    # 封装testdata
    testdata = pd.DataFrame(testdata)
    testdata.columns = t.columns
    res = pd.concat([t, testdata], axis=0)
    return res

a = generate_test_data(total_balance)

In [158]:
# 输出原始数据集+测试集（9月）+时间维度的数据集
total_balance = add_timestamp(a)
total_balance

,report_date,total_purchase_amt,total_redeem_amt,day,month,year,week,weekday
274,2014-04-01,453320585.0,277429358.0,1,4,2014,14,1
275,2014-04-02,355347118.0,272612066.0,2,4,2014,14,2
276,2014-04-03,363877120.0,266605457.0,3,4,2014,14,3
277,2014-04-04,251895894.0,200192637.0,4,4,2014,14,4
278,2014-04-05,202336542.0,163199682.0,5,4,2014,14,5
279,2014-04-06,129477254.0,139576683.0,6,4,2014,14,6
280,2014-04-07,196936223.0,176966561.0,7,4,2014,15,0
281,2014-04-08,354770149.0,250015131.0,8,4,2014,15,1
282,2014-04-09,383347565.0,289330278.0,9,4,2014,15,2
283,2014-04-10,386567460.0,286914864.0,10,4,2014,15,3
284,2014-04-11,237829882.0,277077434.0,11,4,2014,15,4
285,2014-04-12,177642053.0,123295320.0,12,4,2014,15,5
286,2014-04-13,208172985.0,178934722.0,13,4,2014,15,6
287,2014-04-14,309853269.0,415986984.0,14,4,2014,16,0
288,2014-04-15,428681231.0,285293076.0,15,4,2014,16,1
289,2014-04-16,387847838.0,255914640.0,16,4,2014,16,2
290,2014-04-17,355792647.0,265341592.0,17,4,2014,16,3
291,2014-04-18,239300383.0,225952909.0,18,4,2014,16,4
292,2014-04-19,268729366.0,146374940.0,19,4,2014,16,5
293,2014-04-20,191259529.0,161057781.0,20,4,2014,16,6
294,2014-04-21,301134667.0,295635256.0,21,4,2014,17,0
295,2014-04-22,285248757.0,268810141.0,22,4,2014,17,1
296,2014-04-23,313677307.0,278470936.0,23,4,2014,17,2
297,2014-04-24,318358891.0,224536754.0,24,4,2014,17,3
298,2014-04-25,220927432.0,227764292.0,25,4,2014,17,4
299,2014-04-26,151625415.0,158122962.0,26,4,2014,17,5
300,2014-04-27,146837951.0,191915377.0,27,4,2014,17,6
301,2014-04-28,324937272.0,327724735.0,28,4,2014,18,0
302,2014-04-29,330607104.0,307578349.0,29,4,2014,18,1
303,2014-04-30,260091330.0,281835975.0,30,4,2014,18,2
...,...,...,...,...,...,...,...,...
0,2014-09-01,NaN,NaN,1,9,2014,36,0
1,2014-09-02,NaN,NaN,2,9,2014,36,1
2,2014-09-03,NaN,NaN,3,9,2014,36,2
3,2014-09-04,NaN,NaN,4,9,2014,36,3
4,2014-09-05,NaN,NaN,5,9,2014,36,4
5,2014-09-06,NaN,NaN,6,9,2014,36,5
6,2014-09-07,NaN,NaN,7,9,2014,36,6
7,2014-09-08,NaN,NaN,8,9,2014,37,0
8,2014-09-09,NaN,NaN,9,9,2014,37,1
9,2014-09-10,NaN,NaN,10,9,2014,37,2
10,2014-09-11,NaN,NaN,11,9,2014,37,3
11,2014-09-12,NaN,NaN,12,9,2014,37,4
12,2014-09-13,NaN,NaN,13,9,2014,37,5
13,2014-09-14,NaN,NaN,14,9,2014,37,6
14,2014-09-15,NaN,NaN,15,9,2014,38,0
15,2014-09-16,NaN,NaN,16,9,2014,38,1
16,2014-09-17,NaN,NaN,17,9,2014,38,2
17,2014-09-18,NaN,NaN,18,9,2014,38,3
18,2014-09-19,NaN,NaN,19,9,2014,38,4
19,2014-09-20,NaN,NaN,20,9,2014,38,5
20,2014-09-21,NaN,NaN,21,9,2014,38,6
21,2014-09-22,NaN,NaN,22,9,2014,39,0
22,2014-09-23,NaN,NaN,23,9,2014,39,1
23,2014-09-24,NaN,NaN,24,9,2014,39,2
24,2014-09-25,NaN,NaN,25,9,2014,39,3
25,2014-09-26,NaN,NaN,26,9,2014,39,4
26,2014-09-27,NaN,NaN,27,9,2014,39,5
27,2014-09-28,NaN,NaN,28,9,2014,39,6
28,2014-09-29,NaN,NaN,29,9,2014,40,0
29,2014-09-30,NaN,NaN,30,9,2014,40,1

In [159]:
# 避免对原始数据的影响，对数据进行备份
temp = total_balance.copy()
# 或者写入csv
total_balance = temp.copy()

In [160]:
# 避免对原始数据的影响，对数据进行备份
# 计算均值，因为total_balance包括了预测数据集，所以求均值时需要过滤
total_balance = temp[temp['report_date'] < '2014-9-1'].copy()
weekday_w = total_balance[['weekday', 'total_purchase_amt','total_redeem_amt']].groupby('weekday', as_index=False).mean()
weekday_w.columns = ['weekday', 'purchase_weekday', 'redeem_weekday']
weekday_w

   weekday  purchase_weekday  redeem_weekday
0        0      3.075183e+08    3.268733e+08
1        1      3.173125e+08    3.138971e+08
2        2      3.133103e+08    3.076354e+08
3        3      3.019386e+08    2.763898e+08
4        4      2.398712e+08    2.591565e+08
5        5      1.837682e+08    1.855464e+08
6        6      1.884616e+08    1.980553e+08

In [161]:
# 计算周期因子=均值/大盘均值
weekday_w['purchase_weekday'] /= np.mean(total_balance['total_purchase_amt'])
weekday_w['redeem_weekday'] /= np.mean(total_balance['total_redeem_amt'])
weekday_w

   weekday  purchase_weekday  redeem_weekday
0        0          1.163446        1.226999
1        1          1.200501        1.178289
2        2          1.185360        1.154784
3        3          1.142336        1.037496
4        4          0.907514        0.972807
5        5          0.695258        0.696494
6        6          0.713014        0.743449

In [162]:
# 与周期因子关联起来
total_balance = pd.merge(total_balance, weekday_w, on='weekday', how='left')
total_balance

,report_date,total_purchase_amt,total_redeem_amt,day,month,year,week,weekday,purchase_weekday,redeem_weekday
0,2014-04-01,453320585.0,277429358.0,1,4,2014,14,1,1.200501,1.178289
1,2014-04-02,355347118.0,272612066.0,2,4,2014,14,2,1.185360,1.154784
2,2014-04-03,363877120.0,266605457.0,3,4,2014,14,3,1.142336,1.037496
3,2014-04-04,251895894.0,200192637.0,4,4,2014,14,4,0.907514,0.972807
4,2014-04-05,202336542.0,163199682.0,5,4,2014,14,5,0.695258,0.696494
5,2014-04-06,129477254.0,139576683.0,6,4,2014,14,6,0.713014,0.743449
6,2014-04-07,196936223.0,176966561.0,7,4,2014,15,0,1.163446,1.226999
7,2014-04-08,354770149.0,250015131.0,8,4,2014,15,1,1.200501,1.178289
8,2014-04-09,383347565.0,289330278.0,9,4,2014,15,2,1.185360,1.154784
9,2014-04-10,386567460.0,286914864.0,10,4,2014,15,3,1.142336,1.037496
10,2014-04-11,237829882.0,277077434.0,11,4,2014,15,4,0.907514,0.972807
11,2014-04-12,177642053.0,123295320.0,12,4,2014,15,5,0.695258,0.696494
12,2014-04-13,208172985.0,178934722.0,13,4,2014,15,6,0.713014,0.743449
13,2014-04-14,309853269.0,415986984.0,14,4,2014,16,0,1.163446,1.226999
14,2014-04-15,428681231.0,285293076.0,15,4,2014,16,1,1.200501,1.178289
15,2014-04-16,387847838.0,255914640.0,16,4,2014,16,2,1.185360,1.154784
16,2014-04-17,355792647.0,265341592.0,17,4,2014,16,3,1.142336,1.037496
17,2014-04-18,239300383.0,225952909.0,18,4,2014,16,4,0.907514,0.972807
18,2014-04-19,268729366.0,146374940.0,19,4,2014,16,5,0.695258,0.696494
19,2014-04-20,191259529.0,161057781.0,20,4,2014,16,6,0.713014,0.743449
20,2014-04-21,301134667.0,295635256.0,21,4,2014,17,0,1.163446,1.226999
21,2014-04-22,285248757.0,268810141.0,22,4,2014,17,1,1.200501,1.178289
22,2014-04-23,313677307.0,278470936.0,23,4,2014,17,2,1.185360,1.154784
23,2014-04-24,318358891.0,224536754.0,24,4,2014,17,3,1.142336,1.037496
24,2014-04-25,220927432.0,227764292.0,25,4,2014,17,4,0.907514,0.972807
25,2014-04-26,151625415.0,158122962.0,26,4,2014,17,5,0.695258,0.696494
26,2014-04-27,146837951.0,191915377.0,27,4,2014,17,6,0.713014,0.743449
27,2014-04-28,324937272.0,327724735.0,28,4,2014,18,0,1.163446,1.226999
28,2014-04-29,330607104.0,307578349.0,29,4,2014,18,1,1.200501,1.178289
29,2014-04-30,260091330.0,281835975.0,30,4,2014,18,2,1.185360,1.154784
...,...,...,...,...,...,...,...,...,...,...
123,2014-08-02,189092130.0,172250225.0,2,8,2014,31,5,0.695258,0.696494
124,2014-08-03,173825397.0,127125217.0,3,8,2014,31,6,0.713014,0.743449
125,2014-08-04,330640884.0,322907524.0,4,8,2014,32,0,1.163446,1.226999
126,2014-08-05,394780870.0,221706539.0,5,8,2014,32,1,1.200501,1.178289
127,2014-08-06,288821016.0,282346594.0,6,8,2014,32,2,1.185360,1.154784
128,2014-08-07,247646474.0,253659514.0,7,8,2014,32,3,1.142336,1.037496
129,2014-08-08,233903717.0,311648757.0,8,8,2014,32,4,0.907514,0.972807
130,2014-08-09,160262764.0,163611708.0,9,8,2014,32,5,0.695258,0.696494
131,2014-08-10,259534870.0,189909225.0,10,8,2014,32,6,0.713014,0.743449
132,2014-08-11,331550471.0,418603336.0,11,8,2014,33,0,1.163446,1.226999
133,2014-08-12,258493673.0,309754858.0,12,8,2014,33,1,1.200501,1.178289
134,2014-08-13,261506619.0,303975517.0,13,8,2014,33,2,1.185360,1.154784
135,2014-08-14,257702660.0,211939431.0,14,8,2014,33,3,1.142336,1.037496
136,2014-08-15,244551620.0,236516007.0,15,8,2014,33,4,0.907514,0.972807
137,2014-08-16,215059736.0,219214339.0,16,8,2014,33,5,0.695258,0.696494
138,2014-08-17,149978271.0,139564084.0,17,8,2014,33,6,0.713014,0.743449
139,2014-08-18,298499146.0,259169016.0,18,8,2014,34,0,1.163446,1.226999
140,2014-08-19,266401973.0,254929877.0,19,8,2014,34,1,1.200501,1.178289
141,2014-08-20,308378692.0,202452782.0,20,8,2014,34,2,1.185360,1.154784
142,2014-08-21,251763517.0,219963356.0,21,8,2014,34,3,1.142336,1.037496
143,2014-08-22,246316056.0,179349206.0,22,8,2014,34,4,0.907514,0.972807
144,2014-08-23,141412027.0,199377531.0,23,8,2014,34,5,0.695258,0.696494
145,2014-08-24,130195484.0,191080151.0,24,8,2014,34,6,0.713014,0.743449
146,2014-08-25,309574223.0,312413411.0,25,8,2014,35,0,1.163446,1.226999
147,2014-08-26,306945089.0,285478563.0,26,8,2014,35,1,1.200501,1.178289
148,2014-08-27,302194801.0,468164147.0,27,8,2014,35,2,1.185360,1.154784
149,2014-08-28,245082751.0,297893861.0,28,8,2014,35,3,1.142336,1.037496
150,2014-08-29,267554713.0,273756380.0,29,8,2014,35,4,0.907514,0.972807
151,2014-08-30,199708772.0,196374134.0,30,8,2014,35,5,0.695258,0.696494
152,2014-08-31,275090213.0,292943033.0,31,8,2014,35,6,0.713014,0.743449

In [163]:
# 计算日期因子
# 统计周一到周日在1-31出现的次数，例如即是1号也是周二的在数据集出现了2次
weekday_count = total_balance[['report_date','day','weekday']].groupby(['day', 'weekday'], as_index=False).count()
weekday_count

     day  weekday  report_date
0      1        1            2
1      1        3            1
2      1        4            1
3      1        6            1
4      2        0            1
5      2        2            2
6      2        4            1
7      2        5            1
8      3        1            1
9      3        3            2
10     3        5            1
11     3        6            1
12     4        0            1
13     4        2            1
14     4        4            2
15     4        6            1
16     5        0            1
17     5        1            1
18     5        3            1
19     5        5            2
20     6        1            1
21     6        2            1
22     6        4            1
23     6        6            2
24     7        0            2
25     7        2            1
26     7        3            1
27     7        5            1
28     8        1            2
29     8        3            1
..   ...      ...          ...
93    24        3            2
94    24        5            1
95    24        6            1
96    25        0            1
97    25        2            1
98    25        4            2
99    25        6            1
100   26        0            1
101   26        1            1
102   26        3            1
103   26        5            2
104   27        1            1
105   27        2            1
106   27        4            1
107   27        6            2
108   28        0            2
109   28        2            1
110   28        3            1
111   28        5            1
112   29        1            2
113   29        3            1
114   29        4            1
115   29        6            1
116   30        0            1
117   30        2            2
118   30        4            1
119   30        5            1
120   31        3            1
121   31        5            1
122   31        6            1

[123 rows x 3 columns]

In [164]:
# 将统计次数和周期因子关联起来
weekday_count = pd.merge(weekday_count, weekday_w, on='weekday')
weekday_count

     day  weekday  report_date  purchase_weekday  redeem_weekday
0      1        1            2          1.200501        1.178289
1      3        1            1          1.200501        1.178289
2      5        1            1          1.200501        1.178289
3      6        1            1          1.200501        1.178289
4      8        1            2          1.200501        1.178289
5     10        1            1          1.200501        1.178289
6     12        1            1          1.200501        1.178289
7     13        1            1          1.200501        1.178289
8     15        1            2          1.200501        1.178289
9     17        1            1          1.200501        1.178289
10    19        1            1          1.200501        1.178289
11    20        1            1          1.200501        1.178289
12    22        1            2          1.200501        1.178289
13    24        1            1          1.200501        1.178289
14    26        1            1          1.200501        1.178289
15    27        1            1          1.200501        1.178289
16    29        1            2          1.200501        1.178289
17     1        3            1          1.142336        1.037496
18     3        3            2          1.142336        1.037496
19     5        3            1          1.142336        1.037496
20     7        3            1          1.142336        1.037496
21     8        3            1          1.142336        1.037496
22    10        3            2          1.142336        1.037496
23    12        3            1          1.142336        1.037496
24    14        3            1          1.142336        1.037496
25    15        3            1          1.142336        1.037496
26    17        3            2          1.142336        1.037496
27    19        3            1          1.142336        1.037496
28    21        3            1          1.142336        1.037496
29    22        3            1          1.142336        1.037496
..   ...      ...          ...               ...             ...
93    11        2            1          1.185360        1.154784
94    13        2            1          1.185360        1.154784
95    14        2            1          1.185360        1.154784
96    16        2            2          1.185360        1.154784
97    18        2            1          1.185360        1.154784
98    20        2            1          1.185360        1.154784
99    21        2            1          1.185360        1.154784
100   23        2            2          1.185360        1.154784
101   25        2            1          1.185360        1.154784
102   27        2            1          1.185360        1.154784
103   28        2            1          1.185360        1.154784
104   30        2            2          1.185360        1.154784
105    2        5            1          0.695258        0.696494
106    3        5            1          0.695258        0.696494
107    5        5            2          0.695258        0.696494
108    7        5            1          0.695258        0.696494
109    9        5            1          0.695258        0.696494
110   10        5            1          0.695258        0.696494
111   12        5            2          0.695258        0.696494
112   14        5            1          0.695258        0.696494
113   16        5            1          0.695258        0.696494
114   17        5            1          0.695258        0.696494
115   19        5            2          0.695258        0.696494
116   21        5            1          0.695258        0.696494
117   23        5            1          0.695258        0.696494
118   24        5            1          0.695258        0.696494
119   26        5            2          0.695258        0.696494
120   28        5            1          0.695258        0.696494
121   30        5            1          0.695258        0.696494
122   31        5            1          0.695258        0.696494

[123 rows x 5 columns]

In [165]:
# 日期因子计算=周期因子*（周一到周日在1-31出现的频次） / 一共几个月份
weekday_count['purchase_weekday'] = weekday_count['purchase_weekday'] * weekday_count['report_date'] / len(np.unique(total_balance['month']))
weekday_count['redeem_weekday'] = weekday_count['redeem_weekday'] * weekday_count['report_date'] / len(np.unique(total_balance['month']))
# 获取日期因子（月份中每天的周期因子）
day_rate = weekday_count.drop(['weekday', 'report_date'], axis=1).groupby('day', as_index=False).sum()
day_rate

    day  purchase_weekday  redeem_weekday
0     1          1.032773        1.022066
1     2          1.027387        1.041174
2     3          0.978689        0.938645
3     4          0.975370        1.014169
4     5          0.979360        0.967154
5     6          0.943881        0.958556
6     7          1.069969        1.068554
7     8          1.032773        1.022066
8     9          1.027387        1.041174
9    10          0.978689        0.938645
10   11          0.975370        1.014169
11   12          0.979360        0.967154
12   13          0.943881        0.958556
13   14          1.069969        1.068554
14   15          1.032773        1.022066
15   16          1.027387        1.041174
16   17          0.978689        0.938645
17   18          0.975370        1.014169
18   19          0.979360        0.967154
19   20          0.943881        0.958556
20   21          1.069969        1.068554
21   22          1.032773        1.022066
22   23          1.027387        1.041174
23   24          0.978689        0.938645
24   25          0.975370        1.014169
25   26          0.979360        0.967154
26   27          0.943881        0.958556
27   28          1.069969        1.068554
28   29          1.032773        1.022066
29   30          1.027387        1.041174
30   31          0.510122        0.495488

In [166]:
# 计算大盘的日期平均值，即1号平均，2号平均
day_mean = total_balance[['day', 'total_purchase_amt', 'total_redeem_amt']].groupby('day', as_index=False).mean()
day_mean

    day  total_purchase_amt  total_redeem_amt
0     1        3.178338e+08      2.394654e+08
1     2        2.425101e+08      2.130890e+08
2     3        2.583158e+08      2.535862e+08
3     4        2.743470e+08      3.009591e+08
4     5        3.034936e+08      2.644835e+08
5     6        2.474568e+08      2.466850e+08
6     7        2.643790e+08      2.267630e+08
7     8        3.015848e+08      2.689660e+08
8     9        2.938419e+08      2.515698e+08
9    10        3.140940e+08      2.496543e+08
10   11        2.576274e+08      2.669609e+08
11   12        2.542508e+08      2.225105e+08
12   13        2.283210e+08      2.654175e+08
13   14        2.618805e+08      2.917643e+08
14   15        2.974980e+08      2.276925e+08
15   16        3.234147e+08      2.968699e+08
16   17        2.400234e+08      2.703199e+08
17   18        2.492883e+08      2.538307e+08
18   19        2.686273e+08      2.271034e+08
19   20        2.763251e+08      2.169194e+08
20   21        2.813571e+08      2.862035e+08
21   22        2.532933e+08      2.859194e+08
22   23        2.404650e+08      2.777964e+08
23   24        2.262246e+08      2.692241e+08
24   25        2.287499e+08      3.162706e+08
25   26        2.458715e+08      2.839409e+08
26   27        2.327543e+08      3.096201e+08
27   28        2.743488e+08      3.341795e+08
28   29        2.611213e+08      2.919627e+08
29   30        2.460638e+08      2.995356e+08
30   31        2.045476e+08      2.376665e+08

In [167]:
day_base = pd.merge(day_mean, day_rate, on='day', how='left')
day_base

,day,total_purchase_amt,total_redeem_amt,purchase_weekday,redeem_weekday
0,1,3.178338e+08,2.394654e+08,1.032773,1.022066
1,2,2.425101e+08,2.130890e+08,1.027387,1.041174
2,3,2.583158e+08,2.535862e+08,0.978689,0.938645
3,4,2.743470e+08,3.009591e+08,0.975370,1.014169
4,5,3.034936e+08,2.644835e+08,0.979360,0.967154
5,6,2.474568e+08,2.466850e+08,0.943881,0.958556
6,7,2.643790e+08,2.267630e+08,1.069969,1.068554
7,8,3.015848e+08,2.689660e+08,1.032773,1.022066
8,9,2.938419e+08,2.515698e+08,1.027387,1.041174
9,10,3.140940e+08,2.496543e+08,0.978689,0.938645
10,11,2.576274e+08,2.669609e+08,0.975370,1.014169
11,12,2.542508e+08,2.225105e+08,0.979360,0.967154
12,13,2.283210e+08,2.654175e+08,0.943881,0.958556
13,14,2.618805e+08,2.917643e+08,1.069969,1.068554
14,15,2.974980e+08,2.276925e+08,1.032773,1.022066
15,16,3.234147e+08,2.968699e+08,1.027387,1.041174
16,17,2.400234e+08,2.703199e+08,0.978689,0.938645
17,18,2.492883e+08,2.538307e+08,0.975370,1.014169
18,19,2.686273e+08,2.271034e+08,0.979360,0.967154
19,20,2.763251e+08,2.169194e+08,0.943881,0.958556
20,21,2.813571e+08,2.862035e+08,1.069969,1.068554
21,22,2.532933e+08,2.859194e+08,1.032773,1.022066
22,23,2.404650e+08,2.777964e+08,1.027387,1.041174
23,24,2.262246e+08,2.692241e+08,0.978689,0.938645
24,25,2.287499e+08,3.162706e+08,0.975370,1.014169
25,26,2.458715e+08,2.839409e+08,0.979360,0.967154
26,27,2.327543e+08,3.096201e+08,0.943881,0.958556
27,28,2.743488e+08,3.341795e+08,1.069969,1.068554
28,29,2.611213e+08,2.919627e+08,1.032773,1.022066
29,30,2.460638e+08,2.995356e+08,1.027387,1.041174
30,31,2.045476e+08,2.376665e+08,0.510122,0.495488

In [168]:
# 去掉每天的周期因子影响，获得纯正的日期base
day_base['total_purchase_amt'] /= day_base['purchase_weekday']
day_base['total_redeem_amt'] /= day_base['redeem_weekday']
day_base

,day,total_purchase_amt,total_redeem_amt,purchase_weekday,redeem_weekday
0,1,3.077478e+08,2.342954e+08,1.032773,1.022066
1,2,2.360455e+08,2.046623e+08,1.027387,1.041174
2,3,2.639406e+08,2.701620e+08,0.978689,0.938645
3,4,2.812749e+08,2.967544e+08,0.975370,1.014169
4,5,3.098898e+08,2.734657e+08,0.979360,0.967154
5,6,2.621696e+08,2.573507e+08,0.943881,0.958556
6,7,2.470903e+08,2.122148e+08,1.069969,1.068554
7,8,2.920145e+08,2.631591e+08,1.032773,1.022066
8,9,2.860088e+08,2.416214e+08,1.027387,1.041174
9,10,3.209334e+08,2.659731e+08,0.978689,0.938645
10,11,2.641331e+08,2.632312e+08,0.975370,1.014169
11,12,2.596092e+08,2.300672e+08,0.979360,0.967154
12,13,2.418960e+08,2.768932e+08,0.943881,0.958556
13,14,2.447552e+08,2.730458e+08,1.069969,1.068554
14,15,2.880574e+08,2.227767e+08,1.032773,1.022066
15,16,3.147933e+08,2.851300e+08,1.027387,1.041174
16,17,2.452498e+08,2.879896e+08,0.978689,0.938645
17,18,2.555834e+08,2.502844e+08,0.975370,1.014169
18,19,2.742887e+08,2.348160e+08,0.979360,0.967154
19,20,2.927542e+08,2.262982e+08,0.943881,0.958556
20,21,2.629582e+08,2.678418e+08,1.069969,1.068554
21,22,2.452554e+08,2.797465e+08,1.032773,1.022066
22,23,2.340549e+08,2.668108e+08,1.027387,1.041174
23,24,2.311506e+08,2.868221e+08,0.978689,0.938645
24,25,2.345264e+08,3.118520e+08,0.975370,1.014169
25,26,2.510533e+08,2.935839e+08,0.979360,0.967154
26,27,2.465929e+08,3.230069e+08,0.943881,0.958556
27,28,2.564081e+08,3.127398e+08,1.069969,1.068554
28,29,2.528350e+08,2.856593e+08,1.032773,1.022066
29,30,2.395044e+08,2.876903e+08,1.027387,1.041174
30,31,4.009781e+08,4.796616e+08,0.510122,0.495488

In [169]:
# 完善数据格式，
for index,row in day_base.iterrows():
    if row['day'] == 31:
        break
    # 添加日期字段
    day_base.loc[index, 'report_date'] = pd.to_datetime('2014/9/' + str(int(row['day'])))

day_base

,day,total_purchase_amt,total_redeem_amt,purchase_weekday,redeem_weekday,report_date
0,1,3.077478e+08,2.342954e+08,1.032773,1.022066,2014-09-01
1,2,2.360455e+08,2.046623e+08,1.027387,1.041174,2014-09-02
2,3,2.639406e+08,2.701620e+08,0.978689,0.938645,2014-09-03
3,4,2.812749e+08,2.967544e+08,0.975370,1.014169,2014-09-04
4,5,3.098898e+08,2.734657e+08,0.979360,0.967154,2014-09-05
5,6,2.621696e+08,2.573507e+08,0.943881,0.958556,2014-09-06
6,7,2.470903e+08,2.122148e+08,1.069969,1.068554,2014-09-07
7,8,2.920145e+08,2.631591e+08,1.032773,1.022066,2014-09-08
8,9,2.860088e+08,2.416214e+08,1.027387,1.041174,2014-09-09
9,10,3.209334e+08,2.659731e+08,0.978689,0.938645,2014-09-10
10,11,2.641331e+08,2.632312e+08,0.975370,1.014169,2014-09-11
11,12,2.596092e+08,2.300672e+08,0.979360,0.967154,2014-09-12
12,13,2.418960e+08,2.768932e+08,0.943881,0.958556,2014-09-13
13,14,2.447552e+08,2.730458e+08,1.069969,1.068554,2014-09-14
14,15,2.880574e+08,2.227767e+08,1.032773,1.022066,2014-09-15
15,16,3.147933e+08,2.851300e+08,1.027387,1.041174,2014-09-16
16,17,2.452498e+08,2.879896e+08,0.978689,0.938645,2014-09-17
17,18,2.555834e+08,2.502844e+08,0.975370,1.014169,2014-09-18
18,19,2.742887e+08,2.348160e+08,0.979360,0.967154,2014-09-19
19,20,2.927542e+08,2.262982e+08,0.943881,0.958556,2014-09-20
20,21,2.629582e+08,2.678418e+08,1.069969,1.068554,2014-09-21
21,22,2.452554e+08,2.797465e+08,1.032773,1.022066,2014-09-22
22,23,2.340549e+08,2.668108e+08,1.027387,1.041174,2014-09-23
23,24,2.311506e+08,2.868221e+08,0.978689,0.938645,2014-09-24
24,25,2.345264e+08,3.118520e+08,0.975370,1.014169,2014-09-25
25,26,2.510533e+08,2.935839e+08,0.979360,0.967154,2014-09-26
26,27,2.465929e+08,3.230069e+08,0.943881,0.958556,2014-09-27
27,28,2.564081e+08,3.127398e+08,1.069969,1.068554,2014-09-28
28,29,2.528350e+08,2.856593e+08,1.032773,1.022066,2014-09-29
29,30,2.395044e+08,2.876903e+08,1.027387,1.041174,2014-09-30
30,31,4.009781e+08,4.796616e+08,0.510122,0.495488,NaT

In [170]:
# 利用日期因子，进行base*因子=预测结果
day_base['weekday'] = day_base['report_date'].dt.weekday
day_pred = day_base[['day','total_purchase_amt','total_redeem_amt','report_date', 'weekday']]
# 加入周期因子
day_pred = pd.merge(day_pred, weekday_w, on='weekday', how='left')
day_pred

,day,total_purchase_amt,total_redeem_amt,report_date,weekday,purchase_weekday,redeem_weekday
0,1,3.077478e+08,2.342954e+08,2014-09-01,0,1.163446,1.226999
1,2,2.360455e+08,2.046623e+08,2014-09-02,1,1.200501,1.178289
2,3,2.639406e+08,2.701620e+08,2014-09-03,2,1.185360,1.154784
3,4,2.812749e+08,2.967544e+08,2014-09-04,3,1.142336,1.037496
4,5,3.098898e+08,2.734657e+08,2014-09-05,4,0.907514,0.972807
5,6,2.621696e+08,2.573507e+08,2014-09-06,5,0.695258,0.696494
6,7,2.470903e+08,2.122148e+08,2014-09-07,6,0.713014,0.743449
7,8,2.920145e+08,2.631591e+08,2014-09-08,0,1.163446,1.226999
8,9,2.860088e+08,2.416214e+08,2014-09-09,1,1.200501,1.178289
9,10,3.209334e+08,2.659731e+08,2014-09-10,2,1.185360,1.154784
10,11,2.641331e+08,2.632312e+08,2014-09-11,3,1.142336,1.037496
11,12,2.596092e+08,2.300672e+08,2014-09-12,4,0.907514,0.972807
12,13,2.418960e+08,2.768932e+08,2014-09-13,5,0.695258,0.696494
13,14,2.447552e+08,2.730458e+08,2014-09-14,6,0.713014,0.743449
14,15,2.880574e+08,2.227767e+08,2014-09-15,0,1.163446,1.226999
15,16,3.147933e+08,2.851300e+08,2014-09-16,1,1.200501,1.178289
16,17,2.452498e+08,2.879896e+08,2014-09-17,2,1.185360,1.154784
17,18,2.555834e+08,2.502844e+08,2014-09-18,3,1.142336,1.037496
18,19,2.742887e+08,2.348160e+08,2014-09-19,4,0.907514,0.972807
19,20,2.927542e+08,2.262982e+08,2014-09-20,5,0.695258,0.696494
20,21,2.629582e+08,2.678418e+08,2014-09-21,6,0.713014,0.743449
21,22,2.452554e+08,2.797465e+08,2014-09-22,0,1.163446,1.226999
22,23,2.340549e+08,2.668108e+08,2014-09-23,1,1.200501,1.178289
23,24,2.311506e+08,2.868221e+08,2014-09-24,2,1.185360,1.154784
24,25,2.345264e+08,3.118520e+08,2014-09-25,3,1.142336,1.037496
25,26,2.510533e+08,2.935839e+08,2014-09-26,4,0.907514,0.972807
26,27,2.465929e+08,3.230069e+08,2014-09-27,5,0.695258,0.696494
27,28,2.564081e+08,3.127398e+08,2014-09-28,6,0.713014,0.743449
28,29,2.528350e+08,2.856593e+08,2014-09-29,0,1.163446,1.226999
29,30,2.395044e+08,2.876903e+08,2014-09-30,1,1.200501,1.178289
30,31,4.009781e+08,4.796616e+08,NaT,NaN,NaN,NaN

In [171]:
# 利用日期因子，进行base*因子=预测结果
day_pred['total_purchase_amt'] *= day_pred['purchase_weekday']
day_pred['total_redeem_amt'] *= day_pred['redeem_weekday']
day_pred = day_pred.sort_values('report_date')[['report_date', 'total_purchase_amt', 'total_redeem_amt']]
# day_pred = day_pred[['report_date', 'total_purchase_amt', 'total_redeem_amt']]
day_pred

   report_date  total_purchase_amt  total_redeem_amt
0   2014-09-01        3.580481e+08      2.874801e+08
1   2014-09-02        2.833728e+08      2.411514e+08
2   2014-09-03        3.128646e+08      3.119789e+08
3   2014-09-04        3.213105e+08      3.078816e+08
4   2014-09-05        2.812294e+08      2.660293e+08
5   2014-09-06        1.822754e+08      1.792431e+08
6   2014-09-07        1.761789e+08      1.577709e+08
7   2014-09-08        3.397431e+08      3.228958e+08
8   2014-09-09        3.433539e+08      2.846999e+08
9   2014-09-10        3.804215e+08      3.071417e+08
10  2014-09-11        3.017288e+08      2.731014e+08
11  2014-09-12        2.355990e+08      2.238109e+08
12  2014-09-13        1.681800e+08      1.928543e+08
13  2014-09-14        1.745139e+08      2.029956e+08
14  2014-09-15        3.351393e+08      2.733467e+08
15  2014-09-16        3.779098e+08      3.359657e+08
16  2014-09-17        2.907092e+08      3.325659e+08
17  2014-09-18        2.919622e+08      2.596691e+08
18  2014-09-19        2.489208e+08      2.284307e+08
19  2014-09-20        2.035396e+08      1.576153e+08
20  2014-09-21        1.874929e+08      1.991267e+08
21  2014-09-22        2.853415e+08      3.432485e+08
22  2014-09-23        2.809831e+08      3.143803e+08
23  2014-09-24        2.739966e+08      3.312178e+08
24  2014-09-25        2.679080e+08      3.235453e+08
25  2014-09-26        2.278344e+08      2.856004e+08
26  2014-09-27        1.714456e+08      2.249722e+08
27  2014-09-28        1.828226e+08      2.325061e+08
28  2014-09-29        2.941599e+08      3.505035e+08
29  2014-09-30        2.875253e+08      3.389824e+08
30         NaT                 NaN               NaN

In [172]:
# 调整格式，保存结果
day_pred['report_date'] = day_pred['report_date'].apply(lambda x: str(x).replace('-', '')[0:8])
day_pred.to_csv('result3.csv', index=False, header=None)